$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import 'reset';
@import 'home';
@import 'projects';

$colour-highlight: #D54000;
$colour-border: #DDD;

body {
    font: 400 22px/1.35 Karla, sans-serif;
    color: #222;
}


h1 {
    font: 900 56px/1.0 Rubik, sans-serif;
}

.sitecode {
    position: absolute;
    right: 12px;
    top: 12px;

    a {
        font-size: 16px;
        display: block;
        min-height: 24px;
        background: right center / 24px no-repeat url(../img/cog.svg);
        padding: 2px 28px 0 0;
        text-decoration: none;
        color: #777;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.sitenav {
    margin: 20px 0 0;
    padding: 20px 0;
    border-top: 1px solid $colour-border;
    border-bottom: 1px solid $colour-border;
    line-height: 1;

        ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        display: inline-block;
        text-decoration: none;
        background: #222;
        color: #FFF;
        padding: 5px 8px;
        transition: background-color .05s ease-in-out;

        &:hover, &:focus {
            background-color: $colour-highlight;
        }
    }
}

.socials {
    padding: 20px 0 0;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
    }

    li {
        padding: 0 10px 0 0;
    }

    &-icon {
        @extend %fa-icon;
        @extend .fab;

        font-size: 0;
        color: rgba(0, 0, 0, 0);

        &::before {
            font-size: 32px;
            color: #222;
            transition: color .05s ease-in-out;
        }

        &:hover::before {
            color: $colour-highlight;
        }
    }

    &-twitter::before {
        content: fa-content($fa-var-twitter-square);
    }

    &-github::before {
        content: fa-content($fa-var-github-square);
    }

    &-tumblr::before {
        content: fa-content($fa-var-tumblr-square);
    }

    &-twitch {
        margin: 4px 0 0;

        &::before {
            font-size: 28px;
            content: fa-content($fa-var-twitch);
        }
    }

    &-lastfm::before {
        content: fa-content($fa-var-lastfm-square);
    }

    &-youtube::before {
        content: fa-content($fa-var-youtube-square);
    }
}

.selectlang {
    position: absolute;
    left: 12px;
    top: 12px;

    &-title {
        @extend .sr-only;
    }

    &-lang {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        padding: 3px 6px;
        color: #777;

        &:hover {
            text-decoration: underline;
        }
    }

    &-active {
        background: $colour-highlight;
        color: #FFF;
    }
}

.backto {
    float: right;
    font-size: 18px;
    padding: 20px 0 0;

    a {
        text-decoration: none;
        color: #777;

        &::before {
            content: '→ ';
        }

        &:hover, &:focus {
            text-decoration: underline;
        }

        & + a {
            margin: 0 0 0 10px;
        }
    }
}
