@import 'reset';
@import 'contact';

body {
    font: 400 22px/1.35 Karla, sans-serif;
    color: #222;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font: 900 56px/1.0 Rubik, sans-serif;
}

nav {
    position: absolute;
    right: 12px;
    top: 12px;

    a {
        font-size: 16px;
        display: block;
        min-height: 24px;
        background: right center / 24px no-repeat url(../img/cog.svg);
        padding: 2px 28px 0 0;
        text-decoration: none;
        color: #222;
        opacity: 0.55;
        transition: opacity .15s;

        &:hover, &:focus {
            text-decoration: underline;
            opacity: 1;
        }
    }
}
