<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>johnnoel.uk</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Rubik:wght@700;900&display=swap" rel="stylesheet">
    <link href="{{ asset('main.css') }}" rel="stylesheet">
</head>
<body>
{% block body %}{% endblock body %}

<script src="{{ asset('main.js') }}" async defer></script>
</body>
</html>
