{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <h1>{% trans %}name{% endtrans %}</h1>
        <p>{% trans %}build_web_things{% endtrans %}</p>

        <nav role="navigation" class="sitenav">
            <h2 class="sr-only">{% trans %}site_navigation{% endtrans %}</h2>
            <ul>
                <li><a href="{{ path('projects') }}">{% trans %}projects{% endtrans %}</a></li>
            </ul>
        </nav>

        <nav role="navigation" class="socials">
            <h2 class="sr-only">My external social media profiles</h2>
            <ul>
                <li><a href="https://github.com/johnnoel" target="_blank" rel="nofollow noopener" class="socials-icon socials-github">My GitHub profile (will open in a new window)</a></li>
                <li><a href="https://twitter.com/ceetea_" target="_blank" rel="nofollow noopener" class="socials-icon socials-twitter">My Twitter profile (will open in a new window)</a></li>
                <li><a href="https://chaostangent.tumblr.com/" target="_blank" rel="nofollow noopener" class="socials-icon socials-tumblr">My Tumblr profile (will open in a new window)</a></li>
                <li><a href="https://www.last.fm/user/chaostangent" target="_blank" rel="nofollow noopener" class="socials-icon socials-lastfm">My LastFM profile (will open in a new window)</a></li>
                <li><a href="https://www.twitch.tv/ceetea_" target="_blank" rel="nofollow noopener" class="socials-icon socials-twitch">My Twitch channel (will open in a new window)</a></li>
                <li><a href="https://www.youtube.com/channel/UCGvpAcDDuT9SOcEEPAO5lgA" target="_blank" rel="nofollow noopener" class="socials-icon socials-youtube">My YouTube channel (will open in a new window)</a></li>
            </ul>
        </nav>
    </div>
{% endblock body %}
