{% extends 'base.html.twig' %}

{% block body %}
<main role="main">
    <h1>John Noel</h1>
    <p>I build things for the web</p>
    <div id="js-contact"></div>
</main>
<nav role="navigation">
    <a href="https://github.com/johnnoel/johnnoel.uk" target="_blank" rel="noreferrer noopener">All the code for this site</a>
</nav>
{% endblock body %}
