<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>johnnoel.uk</title>

    <link rel="stylesheet" href="{{ asset('main.css') }}">
</head>
<body>
<main role="main">
    <h1>John Noel</h1>
    <p>I build things for the web</p>
</main>
<script src="{{ asset('main.js') }}" async defer></script>
</body>
</html>
